{% extends "base.html" %}
<!DOCTYPE html>
{% block title %}{{ block.super }} - About{% endblock %}
{% block navAbout %}active{% endblock %}
{% block h1 %}About{% endblock %}
{% block container %}
    <div class="jumbotron">

        <div class="row">

            <div class="col-lg-8">

                <h1 class="display-4">Frontend in Bootstrap</h1>
                <p class="lead">The goal of this project is creating a todo webapp using Bootstrap.</p>
                <hr class="my-4">
                <p>This project was created by <a class="badge badge-dark" href="https://github.com/elisamarku">elisamarku</a> and <a class="badge badge-dark" href="https://github.com/knstntnwltr">knstntnwltr</a> for a project of TU Berlin.</p>
                <p>This project does not contain any form of functionality, it is just a design demo.</p>
                <a href="https://github.com/knstntnwltr/1900-progprak" class="btn btn-dark" role="button">See the Github Repo</a>

            </div>


            <div class="col-lg-4">

                <br class="d-lg-none">
                <br class="d-lg-none">
                <br class="d-lg-none">

                <h5 class="text-muted">Sommersemester 2019:</h5>

                <h4>Programmierpraktikum: Skalierbare Systeme</h4>
                <p>Development of a social network.</p>
                <a href="https://isis.tu-berlin.de/course/view.php?id=16041" class="btn btn-dark" role="button">ISIS-Kursseite</a>

            </div>

        </div>

    </div>
{% endblock %}