<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <script src="js/bootstrap.min.js"></script>

        <title>//TODO</title>
    </head>

    <body>
        {%block body%}
        <!-- NAVBAR -->
        <nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
            {%block navbar%}
            <div class="container">

                <!-- Logo in the top left corner -->
                <a class="navbar-brand" href="index.html">
                    <code>[//TODO]</code>
                </a>

                <!-- Toggle to show menu items it if screen to narrow -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Items that only show on wide screens -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav mr-auto">

                        {%block navHome%}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        {%endblock navHome%}

                        {%block navAbout%}
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">About</a>
                        </li>
                        {%endblock navAbout%}

                    </ul>

                </div>
            </div>
            {%endblock navbar%}
        </nav>

        <!-- ACTUAL CONTENT -->
        <div class="container">
        {%block container%}
            <br>
            <h1>
            {% block h1 %}
                Home

                <!--[+ NEW TODO]
                    Button to add new todo. Links to add.html. -->
                <a class="btn btn-primary float-right shadow-sm" href="add.html" role="button">
                    <!-- CUSTOM PLUS ICON -->
                    <img src="img/plus.svg" style="height: 1.2em;"> NEW TODO
                </a>
            {% endblock h1 %}
            </h1>

            <br>
        {% endblock container %}
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="js/jquery-3.3.1.slim.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        {%endblock body%}
    </body>


</html>